# Backend API URL
VITE_API_URL=http://localhost:8000/api

# Cloudinary (untuk preview upload foto di frontend)
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset


